.MainChat
  .MainHeader
    .MainHeader__group
      .MainHeader__GroupName 
        = @group.name
      %ul.MainHeader__MemberList 
        Member:
        %li.MainHeader__Member 
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group.id), class: "MainHeader__EditButtun" do
      Edit
  .MessageField
    = render @messages
    
  .MessageForm
    =form_with model: [@group, @message], method: :post, class: "MessageForm__form", local: true do |f|
      .MessageForm__MessageBox
        = f.text_field :content, placeholder: 'type a message', class: "MessageForm__content"
        = f.label :image, class: "MessageForm__image" do
          = icon('fas', 'image', class: "icon")
          = f.file_field :image, class: "hidden"
      = f.submit 'SEND', class: "MessageForm__send"
          
 